<!DOCTYPE html>
<html>
<head>
    <title>CSRF Form</title>
</head>
<body>
    <form action="/submit" method="POST">
        <input type="text" name="data" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>

